@import url("https://use.typekit.net/qmj1ktm.css");

* {
  box-sizing: border-box;
}

html {
  /* background-color: lavenderblush; */
  font-family: "proxima-nova" !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2e2e2e;
}

img {
  max-width: 100%;
}

.mw-400 {
  max-width: 400px;
}

.logo-container {
}

.logo {
  max-width: 200px;
}

.logo__link {
  text-decoration: none;
  background-image: none;
}

.logo__link:hover {
  text-decoration: none;
}

.pink-highlighted-text {
  display: inline-block;
  background-color: #ed2e85;
  margin: 0;
  color: white;
  padding: 5px 10px;
  align-self: baseline;
  /* width: 100px; */
}

.pink-text {
  color: #ed2e85;
}

.white-text {
  color: white;
}

.align-center {
  align-self: center;
}
.bold-text {
  font-weight: 700;
}

.small-white-text {
  color: white;
  font-size: 14px;
  margin: 0;
  align-self: baseline;
}

.slick-list {
  /* left: -150px !important; */
}

.slick-arrow {
  border: 1px solid #ed2e85 !important;
  padding: 20px !important;
}

.slick-next {
  top: -40px !important;
  right: 10px !important;
}
.slick-next:before {
  position: absolute;
  top: 8px !important;
  left: 9px;
  font-family: initial !important;
  color: white !important;
}

.slick-prev {
  top: -40px !important;
  left: auto !important;
  right: 65px;
}
.slick-prev:before {
  position: absolute;
  top: 8px !important;
  left: 9px;
  color: white !important;
  font-family: initial !important;
}
.teaser {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
}

.teaser__left {
  width: 55%;
  padding-right: 30px;
  border-right: 1px solid #474747;
}

.teaser__right {
  width: 45%;
  padding: 0 30px;
}

.hide-on-desktop {
  display: none;
}

.form-heading {
  margin-bottom: 10px;
}

@media screen and (max-width: 1300px) {
  .teaser__left {
    width: 60%;
  }
  .teaser__right {
    width: 40%;
  }
}

@media screen and (max-width: 950px) {
  .hide-on-mobile {
    display: none;
  }

  .hide-on-desktop {
    display: initial;
  }

  .small-white-text {
  }

  .teaser__left {
    width: 100%;
    padding-right: 0;
  }
  .teaser__right {
    width: 100%;
    margin-top: 70px;
  }
}

@media screen and (max-width: 500px) {
  .slick-slide {
    /* max-width: 300px; */
  }
}

@media screen and (max-width: 460px) {
  .logo-container {
    max-width: 150px;
  }
}

@media screen and (max-width: 360px) {
  .logo-container {
    max-width: 120px;
  }
}
